{% extends 'AppOne/padre.html' %}

{% load static %}

{% block contenido1 %}

<section id="login" class="login">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Ofrecer</h2>
        <p>¡Ingresá el servicio que quisieras ofrecer acá!</p>
      </div>
    </div>
        </div>
    </div>
</section>

{% if miform.errors %}
<p style="color: red;"> Revisar datos</p>
{% endif %} 

    <form action=" " method="POST" > {% csrf_token %}


        <table>
            {{miform.as_table}}
        </table>
     
     
         
        <input type="submit" value="Guardar">

    </form>

    
{% endblock %}