{% extends 'AppOne/padre.html' %}

{% load static %}

{% block contenido1 %}
<section id="login" class="login">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Servicios</h2>
        <p>Editá el servicio</p>
      </div>
    </div>
        </div>
    </div>
</section>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Editar"/>

</form>
<p>
    <a href=" {% url 'Slist' %} "> Regresar a la lista </a>
</p>
{% endblock %}